form(method="post" action="/login")
    table 
        tr
            td sposti
            td 
                input(type="text" name="email")
        tr 
            td salasana 
            td 
                input(type="password" name="password")
        tr 
            td
            td
                input(type="submit" value="Login")