form(method="post" action="/register")
    table 
        tr
            td Sposti
            td 
                input(type="text" name="email")
        tr 
        tr 
            td salasana
            td 
                input(type="password" name="password")
        tr 
        tr 
            td
            td
                input(type="submit" value="Register")