form(method="post" action="/register")
    table 
        tr
            td Sposti
            td 
                input(type="text" name="email")
        tr 
        tr 
            td salasana
            td 
                input(type="password" name="password")
        tr 
        tr
            td etunimi
            td 
                input(type="text" name="etunimi")
        tr 
        tr
            td sukunimi
            td 
                input(type="text" name="sukunimi")
        tr 
        tr
            td nimimerkki
            td 
                input(type="text" name="nimimerkki")
        tr 
        tr 
            td
            td
                input(type="submit" value="Register")